{% extends 'rarea/layout.html' %}

{% block content %}
  <h2>Scraped Pages for {{ website.start_url }}</h2>
  <table border="1" cellpadding="5">
    <thead>
      <tr>
        <th>ID</th>
        <th>URL</th>
        <th>Title</th>
        <th>Visited</th>
        <th>Keywords</th>
      </tr>
    </thead>
    <tbody>
      {% for page in pages %}
        <tr>
          <td>{{ page.id }}</td>
          <td>{{ page.url }}</td>
          <td>{{ page.page_title }}</td>
          <td>{{ page.visited }}</td>
          <td>
            <a href="{% url 'modules.analysis:page_keywords' website.id page.id %}">
              <button type="button">View Keywords</button>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
