{% extends 'rarea/layout.html' %}
{% load i18n %}
{% block content %}
<h2>{% trans "Keywords for" %} {{ website.start_url }}</h2>

<!-- Recalculate Keywords Button -->
<form action="{% url 'modules.analysis:website_keywords' website.id %}" method="post">
    {% csrf_token %}
    <button type="submit">{% trans "Recalculate Keywords" %}</button>
</form>

<table>
    <thead>
        <tr>
            <th>{% trans "Keyword" %}</th>
            <th>{% trans "Count" %}</th>
            <th>{% trans "Avg. Score" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for item in keyword_summary %}
        <tr>
            <td>{{ item.keyword }}</td>
            <td>{{ item.count }}</td>
            <td>{{ item.avg_score }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">{% trans "No keywords found." %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
