{% load i18n %}

<ul class="nav">
    <div class="menu-items">
        <a class="transparent-white-link" href="{% url 'modules.analysis:analysis' %}">
            Home | 
        </a>
        <a class="transparent-white-link"href="{% url 'modules.analysis:analyse' %}">
            Analyse | 
        </a>
    </div>
    <div class="logout">
        <form class="nav-button" method="post" action="{% url 'core/uauth:logout' %}">
            {% csrf_token %}
            <button class="button-logout" type="submit"> Logout </button>
        </form>
    </div>
</ul>

