{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title> Competitors analysis </title>
        <link rel="stylesheet" type="text/css" href="{% static 'rarea/build.css' %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="UTF-8"/>
        <meta name="description" content="Competitors analysis"/>
        <meta name="keywords" content=""/>
        <meta name="author" content="(C) Indeform Ltd."/>
        <link href="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/css/tom-select.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <script src="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/js/tom-select.complete.min.js"></script>
    </head>

    <body>
        {% include 'rarea/header.html' %}


        <div class="content">
            {% block content %}{% endblock content %}
        </div>

        {% include 'rarea/footer.html' %}
        <script type="text/javascript" src="{% static 'shared/build.js' %}"></script>
        <script type="text/javascript" src="{% static 'rarea/build.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>