{% load i18n %}
{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <title> Competitors analysis platform </title>
        <link rel="stylesheet" type="text/css" href="{% static 'parea/build.css' %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="UTF-8"/>
        <meta name="description" content="Competitors analysis"/>
        <meta name="keywords" content=""/>
        <meta name="author" content="Gustas (C)."/>
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
        <link
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            rel="stylesheet"
        />
        <link rel="icon" type="image/x-icon" href="{% static 'shared/favicon.ico' %}">
    </head>

    <body>
        <div class="content">
            {% block content %}{% endblock content %}
        </div>

        {% include 'parea/footer.html' %}
        <script type="text/javascript" src="{% static 'shared/build.js' %}"></script>
        <script type="text/javascript" src="{% static 'parea/build.js' %}"></script>
    </body>
</html>